$gray : #009688;


nav ul a,
nav .brand-logo {
  color: $gray;
}

#search-condition {
  display: none;
}

#search-name {
  display: none;
}

#profile-pic {
  margin-left: 10px;
}

.nav-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

#icon {
  width: 35px;
  margin-top: 12px;
  margin-right: 10px;
  color: blue;
}

#name-value {
  padding-top: 14px;

}
